In [1]:
# ans 1
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df = pd.read_csv("Movieratingdata1.csv")
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [2]:
# ans 2
df = pd.read_csv(
    "Movieratingdata1.csv",
    na_values={"PRODUCTION_YEAR": ["not available", "not mension"]}
)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6

In [3]:
# ans 3
df.replace(
    ["not available", "not mension", "not value"],
    np.nan,
    inplace=True
)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,NaN,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6

In [4]:
# ans 4
df.isna().sum().sum()

np.int64(24)

In [5]:
# ans 5
df.isna().sum()

USER_ID            1
MOVIE_ID           3
MOVIE_TITLE        9
PRODUCTION_YEAR    3
GENRES             3
RATING             5
dtype: int64

In [6]:
# ans 6
df.dropna(how="all", inplace=True)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
2,3.0,NaN,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,NaN,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6

In [7]:
# ans 7
df_no_nan_cols = df.dropna(axis=1, how="any")
df_no_nan_cols

    USER_ID
0       1.0
2       3.0
3       4.0
4       5.0
5       6.0
6       7.0
7       8.0
8       9.0
9      10.0
10     11.0
11     12.0

In [8]:
# ans 8
df["MOVIE_ID"] = df["MOVIE_ID"].fillna(0)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
2,3.0,0,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,0,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6

In [9]:
# ans 9
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].fillna(2000)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
2,3.0,0,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5
4,5.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,0,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6

In [10]:
# ans 10
df["RATING"] = df["RATING"].astype(float)
df["RATING"] = df["RATING"].fillna(df["RATING"].mean())
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,6.857143
2,3.0,0,NaN,2014.0,NaN,6.857143
3,4.0,1390411,NaN,2015.0,NaN,5.000000
4,5.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6.000000

In [11]:
# ans 11
df.replace("1390411", "The Batman", inplace=True)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,6.857143
2,3.0,0,NaN,2014.0,NaN,6.857143
3,4.0,The Batman,NaN,2015.0,NaN,5.000000
4,5.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6.000000

In [12]:
# ans 12
df.columns = df.columns.str.lower()
df

,user_id,movie_id,movie_title,production_year,genres,rating
0,1.0,4642044,Riot,2015.0,Action,6.857143
2,3.0,0,NaN,2014.0,NaN,6.857143
3,4.0,The Batman,NaN,2015.0,NaN,5.000000
4,5.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000.0,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6.000000

In [13]:
# ans 13
df["production_year"] = df["production_year"].astype(int)
df

,user_id,movie_id,movie_title,production_year,genres,rating
0,1.0,4642044,Riot,2015,Action,6.857143
2,3.0,0,NaN,2014,NaN,6.857143
3,4.0,The Batman,NaN,2015,NaN,5.000000
4,5.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [14]:
# ans 14
df.drop_duplicates(inplace=True)
df

,user_id,movie_id,movie_title,production_year,genres,rating
0,1.0,4642044,Riot,2015,Action,6.857143
2,3.0,0,NaN,2014,NaN,6.857143
3,4.0,The Batman,NaN,2015,NaN,5.000000
4,5.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [15]:
# ans 15
df.dtypes

user_id            float64
movie_id            object
movie_title         object
production_year      int64
genres              object
rating             float64
dtype: object

In [16]:
# ans 16
df.reset_index(drop=True, inplace=True)
df

,user_id,movie_id,movie_title,production_year,genres,rating
0,1.0,4642044,Riot,2015,Action,6.857143
1,3.0,0,NaN,2014,NaN,6.857143
2,4.0,The Batman,NaN,2015,NaN,5.000000
3,5.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
4,6.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
5,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
6,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,6.857143
7,9.0,0,NaN,2020,Action|Adventure|Biography|Drama|Western,10.000000
8,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9.000000
9,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [17]:
# ans 17
df.drop(columns=["movie_title"], inplace=True)
df

,user_id,movie_id,production_year,genres,rating
0,1.0,4642044,2015,Action,6.857143
1,3.0,0,2014,NaN,6.857143
2,4.0,The Batman,2015,NaN,5.000000
3,5.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
4,6.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
5,7.0,2719848,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
6,8.0,462504,2006,Action|Adventure|Biography|Drama|War,6.857143
7,9.0,0,2020,Action|Adventure|Biography|Drama|Western,10.000000
8,10.0,163225,2015,Action|Adventure|Biography|Drama|Western,9.000000
9,11.0,1663202,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,12.0,1663202,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [18]:
# ans 18
df.fillna("Unknown", inplace=True)
df

,user_id,movie_id,production_year,genres,rating
0,1.0,4642044,2015,Action,6.857143
1,3.0,0,2014,Unknown,6.857143
2,4.0,The Batman,2015,Unknown,5.000000
3,5.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
4,6.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
5,7.0,2719848,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
6,8.0,462504,2006,Action|Adventure|Biography|Drama|War,6.857143
7,9.0,0,2020,Action|Adventure|Biography|Drama|Western,10.000000
8,10.0,163225,2015,Action|Adventure|Biography|Drama|Western,9.000000
9,11.0,1663202,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,12.0,1663202,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [19]:
# ans 19
df.describe()

         user_id  production_year     rating
count  11.000000        11.000000  11.000000
mean    6.909091      2012.363636   6.857143
std     3.477198         7.187110   1.867007
min     1.000000      2000.000000   4.000000
25%     4.500000      2010.000000   5.500000
50%     7.000000      2015.000000   6.857143
75%     9.500000      2015.000000   7.928571
max    12.000000      2021.000000  10.000000

In [20]:
#ans 20
df.describe(include=[np.number])

         user_id  production_year     rating
count  11.000000        11.000000  11.000000
mean    6.909091      2012.363636   6.857143
std     3.477198         7.187110   1.867007
min     1.000000      2000.000000   4.000000
25%     4.500000      2010.000000   5.500000
50%     7.000000      2015.000000   6.857143
75%     9.500000      2015.000000   7.928571
max    12.000000      2021.000000  10.000000

In [21]:
df

,user_id,movie_id,production_year,genres,rating
0,1.0,4642044,2015,Action,6.857143
1,3.0,0,2014,Unknown,6.857143
2,4.0,The Batman,2015,Unknown,5.000000
3,5.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
4,6.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
5,7.0,2719848,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
6,8.0,462504,2006,Action|Adventure|Biography|Drama|War,6.857143
7,9.0,0,2020,Action|Adventure|Biography|Drama|Western,10.000000
8,10.0,163225,2015,Action|Adventure|Biography|Drama|Western,9.000000
9,11.0,1663202,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,12.0,1663202,2021,Action|Adventure|Biography|Drama|Western,6.000000