In [1]:
import pandas as pd

In [2]:
#ans 1
s1 = pd.Series([10, 20, 30, 40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# ans 2
s2 = pd.Series([5, 6, 7], index=["a", "b", "c"])
print(s2)

a    5
b    6
c    7
dtype: int64

In [4]:
# ans 3
s3 = pd.Series({"Math": 85, "Sci": 90, "Eng": 88})
print(s3)

Math    85
Sci     90
Eng     88
dtype: int64

In [5]:
# ans 4
s4 = pd.Series(100, index=range(5))
print(s4)

0    100
1    100
2    100
3    100
4    100
dtype: int64

In [6]:
#ans 5
print(s1.head(3))

0    10
1    20
2    30
dtype: int64

In [7]:
#ans 6
print(s1.tail(3))

1    20
2    30
3    40
dtype: int64

In [8]:
# ans 7
print(s1.dtype)

int64

In [9]:
#ans 8 
print(s1.size)

4

In [10]:
# ans 9
print(s2.loc["b"])

6

In [11]:
# ans 10
print(s2.iloc[2])

7

In [12]:
#ans 11
print(s1[:4])

0    10
1    20
2    30
3    40
dtype: int64

In [13]:
#ans 12
s1 = pd.Series([10, 20, 30, 40,50,60,70,80,90,100])
print(s1[s1 > 50])

5     60
6     70
7     80
8     90
9    100
dtype: int64

In [14]:
#ans 13
print(s1.replace(20, 200))

0     10
1    200
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [15]:
#ans 14
print(s2.rename(index={"a": "alpha"}))

alpha    5
b        6
c        7
dtype: int64

In [16]:
#ans 15
print(s1.sort_values())

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [17]:
#ans 16
print(s1 + 10)

0     20
1     30
2     40
3     50
4     60
5     70
6     80
7     90
8    100
9    110
dtype: int64

In [18]:
#ans 17
s2 = pd.Series([20, 30, 40, 50,60,70,80,90,100,110])
print(s1 * s2)

0      200
1      600
2     1200
3     2000
4     3000
5     4200
6     5600
7     7200
8     9000
9    11000
dtype: int64

In [19]:
#ans 18
print(s1.sum())

550

In [20]:
#ans 19
print(s1.mean())

55.0

In [21]:
#ans 20
print(s1.median())

55.0

In [22]:
#ans 21
print(s1.std())

30.276503540974915

In [23]:
s1 = pd.Series([10,None,30,40, None,50,60])

In [24]:
#ans 22
print(s1.notnull().sum())

5

In [25]:
#ans 23
print(s1.fillna(0))

0    10.0
1     0.0
2    30.0
3    40.0
4     0.0
5    50.0
6    60.0
dtype: float64

In [26]:
#ans 24
print(s1.dropna())

0    10.0
2    30.0
3    40.0
5    50.0
6    60.0
dtype: float64

In [27]:
#ans 25
s9 = s1.sort_values(ascending=False)
print(s9.head(3))

6    60.0
5    50.0
3    40.0
dtype: float64

In [28]:
#ans 26
s9 = s1.sort_values()
print(s9.head(2))

0    10.0
2    30.0
dtype: float64

In [29]:
# ans 27
print(s1.apply(lambda x:x**2))

0     100.0
1       NaN
2     900.0
3    1600.0
4       NaN
5    2500.0
6    3600.0
dtype: float64

In [33]:
#ans 28
s5 = pd.Series([10,10,25,26,25,27,63,63,45,48,45])
print(s5.value_counts())

10    2
25    2
63    2
45    2
26    1
27    1
48    1
Name: count, dtype: int64

In [34]:
#ans 29
print(s2.reindex(["a","b","c","z"]))

a   NaN
b   NaN
c   NaN
z   NaN
dtype: float64

In [38]:
#ans 30
print(s1)
res = s1.cumsum()
print(res)

0    10.0
1     NaN
2    30.0
3    40.0
4     NaN
5    50.0
6    60.0
dtype: float64
0     10.0
1      NaN
2     40.0
3     80.0
4      NaN
5    130.0
6    190.0
dtype: float64