In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Movieratingdata1.csv")
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [ ]:
df.drop("MOVIE_TITLE",axis=1,inplace=True)#drop the MOVIE_TITLE column
print(df)

    USER_ID   MOVIE_ID PRODUCTION_YEAR  \
0       1.0    4642044            2015
1       NaN        NaN             NaN
2       3.0  not value            2014
3       4.0    1390411            2015
4       5.0    6306064   not available
5       6.0    6306064     not mension
6       7.0    2719848            2015
7       8.0     462504            2006
8       9.0        NaN            2020
9      10.0     163225            2015
10     11.0    1663202            2015
11     12.0    1663202            2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6