In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name":["raj","amit","sumit","kunal","Neha","Sumit","Sandhya"],
    "Age":[21,22,23,24,25,26,27],
    "City":["Delhi","Mumbai","Bangalore","Delhi","Mumbai","Bangalore","Delhi"]
}

In [3]:
df = pd.DataFrame(data)
print(df)

      Name  Age       City
0      raj   21      Delhi
1     amit   22     Mumbai
2    sumit   23  Bangalore
3    kunal   24      Delhi
4     Neha   25     Mumbai
5    Sumit   26  Bangalore
6  Sandhya   27      Delhi

In [4]:
print(df.head())

    Name  Age       City
0    raj   21      Delhi
1   amit   22     Mumbai
2  sumit   23  Bangalore
3  kunal   24      Delhi
4   Neha   25     Mumbai

In [5]:
print(df.tail())

      Name  Age       City
2    sumit   23  Bangalore
3    kunal   24      Delhi
4     Neha   25     Mumbai
5    Sumit   26  Bangalore
6  Sandhya   27      Delhi

In [6]:
print(df.sample())

  Name  Age   City
0  raj   21  Delhi

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   City    7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes
None

In [8]:
print(df.describe())

             Age
count   7.000000
mean   24.000000
std     2.160247
min    21.000000
25%    22.500000
50%    24.000000
75%    25.500000
max    27.000000

In [9]:
print(df.shape)

(7, 3)

In [10]:
print(df.columns)

Index(['Name', 'Age', 'City'], dtype='object')

In [11]:
print(df.index)

RangeIndex(start=0, stop=7, step=1)

In [12]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object