In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name":["raj","amit","sumit","kunal","Neha","Sumit","Sandhya"],
    "Age":[21,22,23,24,25,26,27],
    "City":["Delhi","Mumbai","Bangalore","Delhi","Mumbai","Bangalore","Delhi"]
}
df = pd.DataFrame(data)

In [3]:
df["Age"] = df["Age"] + 1
df["Age"] = [22,23,24,25,26,27,28]
print(df)

      Name  Age       City
0      raj   22      Delhi
1     amit   23     Mumbai
2    sumit   24  Bangalore
3    kunal   25      Delhi
4     Neha   26     Mumbai
5    Sumit   27  Bangalore
6  Sandhya   28      Delhi

In [4]:
current_year = 2026
df["Born Year"] = current_year - df["Age"]
print(df)

      Name  Age       City  Born Year
0      raj   22      Delhi       2004
1     amit   23     Mumbai       2003
2    sumit   24  Bangalore       2002
3    kunal   25      Delhi       2001
4     Neha   26     Mumbai       2000
5    Sumit   27  Bangalore       1999
6  Sandhya   28      Delhi       1998

In [5]:
df = df.rename(columns={"Age": "Student Age"})
print(df)

      Name  Student Age       City  Born Year
0      raj           22      Delhi       2004
1     amit           23     Mumbai       2003
2    sumit           24  Bangalore       2002
3    kunal           25      Delhi       2001
4     Neha           26     Mumbai       2000
5    Sumit           27  Bangalore       1999
6  Sandhya           28      Delhi       1998

In [6]:
df.loc[len(df)] = {
    "Name": "Rohit",
    "Student Age": 28,
    "City": "Pune",
    "Marks": 89,
    "Born Year": 2026 - 28
}
print(df)

      Name  Student Age       City  Born Year
0      raj           22      Delhi       2004
1     amit           23     Mumbai       2003
2    sumit           24  Bangalore       2002
3    kunal           25      Delhi       2001
4     Neha           26     Mumbai       2000
5    Sumit           27  Bangalore       1999
6  Sandhya           28      Delhi       1998
7    Rohit           28       Pune       1998

In [7]:
df["Marks"] = [85, 78, 90, 88, 92, 80, 87, 89]
print(df)

      Name  Student Age       City  Born Year  Marks
0      raj           22      Delhi       2004     85
1     amit           23     Mumbai       2003     78
2    sumit           24  Bangalore       2002     90
3    kunal           25      Delhi       2001     88
4     Neha           26     Mumbai       2000     92
5    Sumit           27  Bangalore       1999     80
6  Sandhya           28      Delhi       1998     87
7    Rohit           28       Pune       1998     89

In [8]:

df = df.rename(columns={"Age":"Student Age"})
print(df)

      Name  Student Age       City  Born Year  Marks
0      raj           22      Delhi       2004     85
1     amit           23     Mumbai       2003     78
2    sumit           24  Bangalore       2002     90
3    kunal           25      Delhi       2001     88
4     Neha           26     Mumbai       2000     92
5    Sumit           27  Bangalore       1999     80
6  Sandhya           28      Delhi       1998     87
7    Rohit           28       Pune       1998     89

In [9]:
df = df.drop("Student Age",axis=1)
print(df)

      Name       City  Born Year  Marks
0      raj      Delhi       2004     85
1     amit     Mumbai       2003     78
2    sumit  Bangalore       2002     90
3    kunal      Delhi       2001     88
4     Neha     Mumbai       2000     92
5    Sumit  Bangalore       1999     80
6  Sandhya      Delhi       1998     87
7    Rohit       Pune       1998     89