In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Movieratingdata1.csv")

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN      NaN            NaN             NaN
2       3.0      NaN            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN             NaN
5       6.0  6306064            NaN             NaN
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0      NaN            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [5]:
df.fillna("0", inplace=True)
print(df)

   USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0      1.0  4642044          Riot             2015
1        0        0              0               0
2      3.0        0              0            2014
3      4.0  1390411              0            2015
4      5.0  6306064              0               0
5      6.0  6306064              0               0
6      7.0  2719848              0            2015
7      8.0   462504              0            2006
8      9.0        0              0            2020
9     10.0   163225  The Revenant             2015
10    11.0  1663202              0            2015
11    12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action      0
1                                                   0      0
2                                                   0      0
3                                                   0      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller      0
7                Action|Adventure|Biography|Drama|War      0
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

C:\Users\Rudraksh\AppData\Local\Temp\ipykernel_26128\2926033292.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("0", inplace=True)

In [6]:
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(int)
df["RATING"] = df["RATING"].astype(float)
print(df["PRODUCTION_YEAR"]>2015)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11     True
Name: PRODUCTION_YEAR, dtype: bool

In [7]:
data = df[df["PRODUCTION_YEAR"]>2015]

In [8]:
data = df[(df["PRODUCTION_YEAR"]>2015) & (df["RATING"]>6.0)]
print(data)

  USER_ID MOVIE_ID MOVIE_TITLE  PRODUCTION_YEAR  \
8     9.0        0           0             2020

                                     GENRES  RATING
8  Action|Adventure|Biography|Drama|Western    10.0

In [9]:
data1 = df[df["GENRES"].str.contains("War",na=False)]
print(data1)

  USER_ID MOVIE_ID MOVIE_TITLE  PRODUCTION_YEAR  \
7     8.0   462504           0             2006

                                 GENRES  RATING
7  Action|Adventure|Biography|Drama|War     0.0