In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name":["raj","amit","sumit","kunal","Neha","Sumit","Sandhya"],
    "Age":[21,22,23,24,25,26,27],
    "City":["Delhi","Mumbai","Bangalore","Delhi","Mumbai","Bangalore","Delhi"]
}

In [3]:
df = pd.DataFrame(data)
print(df)

      Name  Age       City
0      raj   21      Delhi
1     amit   22     Mumbai
2    sumit   23  Bangalore
3    kunal   24      Delhi
4     Neha   25     Mumbai
5    Sumit   26  Bangalore
6  Sandhya   27      Delhi

In [4]:
print(df.loc[2,"Age"])# Accessing single value using .loc where 2 is the index and "Age" is the column name

23

In [5]:
print(df.iloc[2,1])# Accessing single value using .iloc where 2 is the index and 1 is the column position

23

In [6]:
print(df["Age"])# Accessing entire column 'Age'

0    21
1    22
2    23
3    24
4    25
5    26
6    27
Name: Age, dtype: int64

In [7]:
print(df[["Age","City"]])# Accessing multiple columns 'Age' and 'City'

   Age       City
0   21      Delhi
1   22     Mumbai
2   23  Bangalore
3   24      Delhi
4   25     Mumbai
5   26  Bangalore
6   27      Delhi

In [ ]:
print(df.iloc[0])# Accessing entire first row using .iloc

Name      raj
Age        21
City    Delhi
Name: 0, dtype: object