
1. movie , director  ==> join  
2. drop   ==> extra col / row  
3. find  top 10  director  ==> movie count

In [1]:
import  pandas as pd

In [2]:
movies = pd.read_csv("movies.csv")
directors = pd.read_csv("directors.csv")

movies =movies.drop(columns="Unnamed: 0")
directors=directors.drop(columns="Unnamed: 0")

In [3]:
df=pd.merge(
    movies,
    directors,
    left_on="director_id", 
    right_on="id",
    how="left"
)

In [4]:
print(df.head())
print(movies.head())
print(directors.head())

    id_x     budget  popularity     revenue  \
0  43597  237000000         150  2787965087
1  43598  300000000         139   961000000
2  43599  245000000         107   880674609
3  43600  250000000         112  1084939099
4  43602  258000000         115   890871626

                                      title  vote_average  vote_count  \
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                              Spider-Man 3           5.9        3576

   director_id  year month       day      director_name  id_y gender
0         4762  2009   Dec  Thursday      James Cameron  4762   Male
1         4763  2007   May  Saturday     Gore Verbinski  4763   Male
2         4764  2015   Oct    Monday         Sam Mendes  4764   Male
3         4765  2012   Jul    Monday  Christopher Nolan  4765   Male
4         4767  2007   May   Tuesday          Sam Raimi  4767   Male
      id     budget  popularity     revenue  \
0  43597  237000000         150  2787965087
1  43598  300000000         139   961000000
2  43599  245000000         107   880674609
3  43600  250000000         112  1084939099
4  43602  258000000         115   890871626

                                      title  vote_average  vote_count  \
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                              Spider-Man 3           5.9        3576

   director_id  year month       day
0         4762  2009   Dec  Thursday
1         4763  2007   May  Saturday
2         4764  2015   Oct    Monday
3         4765  2012   Jul    Monday
4         4767  2007   May   Tuesday
       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

In [5]:
top_10_directors = df.groupby("director_name")["title"].count().sort_values(ascending=False).head(10)
print(top_10_directors)

director_name
Steven Spielberg     26
Martin Scorsese      19
Clint Eastwood       19
Woody Allen          18
Robert Rodriguez     16
Spike Lee            16
Ridley Scott         16
Renny Harlin         15
Steven Soderbergh    15
Oliver Stone         14
Name: title, dtype: int64