In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Movieratingdata1.csv")
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [3]:
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN      NaN            NaN             NaN
2       3.0      NaN            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN             NaN
5       6.0  6306064            NaN             NaN
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0      NaN            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [4]:
df["RATING"] = df["RATING"].astype(float)
df["RATING"] = df["RATING"].fillna(df["RATING"].mean())
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN      NaN            NaN             NaN
2       3.0      NaN            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN             NaN
5       6.0  6306064            NaN             NaN
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0      NaN            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES     RATING
0                                              Action   6.857143
1                                                 NaN   6.857143
2                                                 NaN   6.857143
3                                                 NaN   5.000000
4   Action|Adventure|Biography|Drama|Romance|Thriller   4.000000
5   Action|Adventure|Biography|Drama|Romance|Thriller   5.000000
6           Action|Adventure|Biography|Drama|Thriller   6.857143
7                Action|Adventure|Biography|Drama|War   6.857143
8            Action|Adventure|Biography|Drama|Western  10.000000
9            Action|Adventure|Biography|Drama|Western   9.000000
10           Action|Adventure|Biography|Drama|Western   9.000000
11           Action|Adventure|Biography|Drama|Western   6.000000