In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = {
    "Name":["raj","amit","sumit"],
    "Age":[21,22,23],
    "City":["Delhi","Mumbai","Bangalore"]
}

In [4]:
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0    raj   21      Delhi
1   amit   22     Mumbai
2  sumit   23  Bangalore

In [5]:
df1 = pd.DataFrame([[1,2],[3,4]],columns=['data1','data2'])
print(df1)

   data1  data2
0      1      2
1      3      4

In [6]:
df2 = pd.DataFrame(np.array([[1,2],[3,4]]),columns=["data1","data2"])
print(df2)

   data1  data2
0      1      2
1      3      4