In [1]:
import pandas as pd

In [7]:
s = pd.Series([10,20,30,0,None,40,None,50])
print(s)
print(s.isnull())
print(s.isnull().sum())
print(s.notnull())
print(s.notnull().sum())

0    10.0
1    20.0
2    30.0
3     0.0
4     NaN
5    40.0
6     NaN
7    50.0
dtype: float64
0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
dtype: bool
2
0     True
1     True
2     True
3     True
4    False
5     True
6    False
7     True
dtype: bool
6

In [ ]:
s = s.fillna(0)# Filling null and NaN values with 0
print(s)
print(s.isnull().sum())

0    10.0
1    20.0
2    30.0
3     0.0
4     0.0
5    40.0
6     0.0
7    50.0
dtype: float64
0

In [ ]:
s = pd.Series([10,20,30,0,None,40,None,50])
print(s)
s = s.dropna()# Dropping null and NaN values
print(s)

0    10.0
1    20.0
2    30.0
3     0.0
4     NaN
5    40.0
6     NaN
7    50.0
dtype: float64
0    10.0
1    20.0
2    30.0
3     0.0
5    40.0
7    50.0
dtype: float64